<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @home.name %>
</p>

<p>
  <strong>discription:</strong>
  <%= @home.discription %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back' , :back %>
